@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

#scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

body {
    font-family: "Sora", sans-serif;
    background-color: #e8e5e2;
    color: #060606;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

.hero-image {
    position: absolute;
    inset: 1.5rem;
    z-index: -1;
}

.hero-overlay {
    position: absolute;
    background-image: linear-gradient(to bottom, #00000020, transparent);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.hero-content {
    display: flex;
    height: 100%;
    padding: 2rem;
}

.hero-content .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.hero-content .left .top {
    margin-top: 5.5rem;
}

.hero-title {
    color: #e7e6e5;
    font-family: "Archivo", sans-serif;
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 1;
}

.hero-sub {
    color: #e7e6e5;
    margin-top: 1rem;
    width: 30rem;
    font-size: 1.5rem;
    line-height: 1.25;
}

.hero-content .right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 50%;
}

.hero-cta {
    font-family: "Sora", sans-serif;
    color: #e7e6e5;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #060606;
    padding: 1.5rem 2rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-cta svg {
    margin-left: -1rem;
}

.hero-cta::before {
    content: "Learn More";
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 500ms;
    margin-right: 1rem;
}

.hero-cta:hover::before {
    max-width: 200px;
}

.hero-cta svg {
    margin-left: -1rem;
    transition: margin-left 300ms;
}

.hero-cta:hover svg {
    margin-left: 0;
}

.hero-content .left .bottom {
    position: relative;
    width: 384px;
    height: 216px;
}

.hero-content .play-btn {
    position: absolute;
    inset: 0;
    place-self: center;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 22px solid #e7e6e5;
    transform: scale(1.5);
}

.hero-content .bottom .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    inset: 0;
    border-radius: 1.5rem;
    z-index: 1;
    transition: background-color 300ms;
}

.hero-content .bottom .overlay:hover {
    background-color: #00000010;
    cursor: pointer;
}

.hero-content video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1.5rem;
}

nav {
    position: fixed;
    inset: 3rem;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

nav .logo {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    background-color: #e7e6e590;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 0.5rem;
}

nav .logo img {
    width: 100px;
    height: 20px;
}

.navs {
    width: fit-content;
    height: fit-content;
    background-color: #e7e6e590;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.navs ul {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.navs li {
    font-size: 1.125rem;
    letter-spacing: 0.025rem;
    font-family: "Sora", sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

nav.scrolled {
    inset: 0rem;
    padding: 0.75rem 2rem;
    background-color: #e7e6e590;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

nav.scrolled .logo {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

nav.scrolled .navs {
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.about {
    width: 100vw;
    padding: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 0 0 100%;
}

.section-title {
    font-family: "Sora", sans-serif;
    font-size: 1rem;
    color: #212325;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #212325;
    border-radius: 999px;
    margin-right: 1rem;
    margin-top: 2rem;
}

.about p {
    max-width: 75rem;
    font-family: 'Sora', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.25;
    color: #212325;
}

.about p  > span {
    color: #d61b22;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.exterior-design img {
    border-radius: 1.5rem;
    width: auto;
}

.interior-design,
.exterior-design {
    padding: 3rem;
}

.interior-design hr,
.exterior-design hr {
    border-top: 1px solid #c0bebb;
    margin-bottom: 2rem;
}

.interior-design .title,
.exterior-design .title {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.interior-design h2,
.exterior-design h2 {
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    max-width: 30rem;
    line-height: 1.25;
}

.interior-design p,
.exterior-design p {
    max-width: 50rem;
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #212325;
}


.bento-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2.23fr;
    gap: 1rem;
}

.bento-item {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.bento-item:nth-child(1) {
    grid-column: 1/span 2;
}

.bento-item:nth-child(4) {
    grid-column: 3;
    grid-row: 1/span 2;
    width: 100%;
}

.dark {
    background-color: #222;
    margin-top: 10rem;
    padding: 8rem 3rem;
}

.carousel {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.carousel .section-title {
    margin-bottom: -0.5rem;
    color: #dddad7;
}

.carousel .section-title::before {
    background-color: #dddad7;
}

.carousel h2 {
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    max-width: 50rem;
    line-height: 1.25;
    margin-bottom: -5rem;
    color: #dddad7;
}

.carousel-wrapper {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    gap: 2rem;
    padding-bottom: 2rem;
    cursor: grab;
    user-select: none;

    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.carousel-wrapper::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.carousel-item {
    scroll-snap-align: center;
    min-width: 825px;
    max-width: 825px;
}

.carousel-item video,
.carousel-item img {
    min-width: 825px;
    max-width: 825px;
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
    border-radius: 1rem;
}

.carousel-item h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    margin-top: 1rem;
    color: white;
}

.carousel-item p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    color: #dddad7;
}

.buttons {
    display: flex;
    justify-content: end;
}

.btn {
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.btn:active {
    background-color: #222;
}

.svg-btn {
    width: 30px;
    height: 30px;
}

.charging {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: relative;
}

.charging .content {
    margin-left: 5rem;
    margin-top: 2rem;
}

.charging h2 {
    color: #dddad7;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.15;
    margin-top: 2rem;
}

.charging p {
    max-width: 70rem;
    font-family: 'Sora', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    color: #dddad7;
    margin-top: 1rem;
}

.charging img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.vehicle-cta {
    background-image: url("/public/vehicle-cta-bg.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.vehicle-cta .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 10rem;
}

.vehicle-cta h2 {
    color: #060606;
    font-family: "Archivo", sans-serif;
    font-size: 3.75rem;
    font-weight: 600;
    letter-spacing: -0.025rem;
    line-height: 1;
}

.vehicle-cta p {
    font-family: 'Sora', sans-serif;
    font-size: 1.25rem;
    color: #060606;
    margin-bottom: 1.25rem;
    margin-top: 0.5rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
}

.vehicle-cta .content div {
    display: flex;
}
.vehicle-cta .btn-wrapper {
    width: 200px;
    font-family: "Sora", sans-serif;
    color: #e7e6e5;
    font-weight: 500;
    font-size: 1rem;
    background-color: #060606;
    border: 3px solid #060606;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    margin: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicle-cta .btn-wrapper:last-child {
    background-color: white;
    color: #060606;
    border-color: white;
}

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 2rem 6rem;
}

.subscribe h5 {
    font-family: 'Sora', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}

.subscribe > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    width: 75%;
}

.subscribe .form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form input {
    padding: 0.75rem 1rem;
    border: 1px solid gray;
    margin-bottom: 1rem;
    background-color: white;
    color: black;
    width: 100%;
}

.form input::placeholder {
    color: gray;
}

.form input:focus {
    outline: none;
    border: 2px solid gray;
}

.form div {
    display: flex;
    gap: 0.5rem;
}

.form .asterisk {
    color: red;
}

.form button {
    padding: 0;
    margin-left: 1rem;
    width: fit-content;
    font-family: "Sora", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: black;
    padding: 0.75rem 3.25rem;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100vw;
    font-size: 1rem;
    padding: 2rem;
    font-size: 0.75rem;
}

footer a {
    color: #dcdcdc
}

footer a:hover {
    color: white;
}
