@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::webkit-scrollbar {
	display: none;
}

body {
	font-family: "Sora", sans-serif;
	background-color: #e8e5e2;
	color: #060606;
}

.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding: 2rem;
}

.hero-image {
	position: absolute;
	inset: 1.5rem;
	z-index: -1;
}

.hero-overlay {
	position: absolute;
	background-image: linear-gradient(to bottom, #00000020, transparent);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
}

.hero-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1.5rem;
}

.hero-content {
	display: flex;
	height: 100%;
	padding: 2rem;
}

.hero-content .left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}

.hero-content .left .top {
	margin-top: 5.5rem;
}

.hero-title {
	color: #e7e6e5;
	font-family: "Archivo", sans-serif;
	text-transform: uppercase;
	font-size: 3.75rem;
	font-weight: 500;
	letter-spacing: -0.025rem;
	line-height: 1;
}

.hero-sub {
	color: #e7e6e5;
	margin-top: 1rem;
	width: 30rem;
	font-size: 1.5rem;
	line-height: 1.25;
}

.hero-content .right {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	width: 50%;
}

.hero-cta {
	font-family: "Sora", sans-serif;
	color: #e7e6e5;
	font-weight: 500;
	font-size: 1.5rem;
	background-color: #060606;
	padding: 1.5rem 2rem;
	border-radius: 0.75rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.hero-cta svg {
	margin-left: -1rem;
}

.hero-cta::before {
	content: "Learn More";
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	transition: max-width 500ms;
	margin-right: 1rem;
}

.hero-cta:hover::before {
	max-width: 200px;
}

.hero-cta svg {
	margin-left: -1rem;
	transition: margin-left 300ms;
}

.hero-cta:hover svg {
	margin-left: 0;
}

.hero-content .left .bottom {
	position: relative;
	width: 384px;
	height: 216px;
}

.hero-content .play-btn {
	position: absolute;
	inset: 0;
	place-self: center;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 22px solid #e7e6e5;
	transform: scale(1.5);
}

.hero-content .bottom .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #00000030;
	inset: 0;
	border-radius: 1.5rem;
	z-index: 1;
	transition: background-color 300ms;
}

.hero-content .bottom .overlay:hover {
	background-color: #00000010;
	cursor: pointer;
}

.hero-content video {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 1.5rem;
}

nav {
	position: fixed;
	inset: 3rem;
	height: fit-content;
	z-index: 999;
	display: flex;
	justify-content: space-between;
}

nav .logo {
	width: fit-content;
	height: fit-content;
	padding: 1rem;
	background-color: #e7e6e590;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	border-radius: 0.5rem;
}

nav .logo img {
	width: 100px;
	height: 20px;
}

.navs {
	width: fit-content;
	height: fit-content;
	background-color: #e7e6e590;
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.navs ul {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.navs li {
	font-size: 1.125rem;
	letter-spacing: 0.025rem;
	font-family: "Sora", sans-serif;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.about {
	width: 100vw;
	height: 100vh;
	padding: 2rem;
	display: flex;
}

.about div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	flex: 0 0 100%;
}

.about h2 {
	font-family: 'Sora', sans-serif;
	font-size: 1rem;
	color: #212325;
	font-weight: 600;
	letter-spacing: 0.1rem;
	margin-bottom: 2rem;
}

.about h2::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #212325;
	border-radius: 999px;
	margin-right: 1rem;
}

.about p {
	max-width: 80rem;
	font-family: 'Sora', sans-serif;
	font-size: 3rem;
	font-weight: 500;
	line-height: 1.25;
	color: #212325;;
}

